{% extends 'base.html'%}

{% block content %}


<br>
<form action="." method="PoST">
	{% csrf_token %}
	{{ form.non_field_errors }}
  
	<p>
		<label for="{{ form.name.id_for_label}}"> {{ form.name.label }}:</label>
		<br>
		{{ form.name }}
		{{ form.name.errors }}
	</p>

	<p>
		<label for="{{ form.cpf.id_for_label}}"> {{ form.cpf.label }}:</label>
		<br>
		{{ form.cpf }}
		{{ form.cpf.errors }}
	</p>
		<label for="{{ form.email.id_for_label}}"> {{ form.email.label }}:</label>
		<br>
		{{ form.email }}
		{{ form.email.errors }}
	<p>

	</p>

	<p>
		<label for="id_phone_0"> Phone:</label>
		<br>
		<input type="text" name="phone_0" value="" id="id_phone_0">
		<input type="text" name="phone_1" value="" id="id_phone_1">
	</p>
	<input type="submit" value="Enviar!" class="btn">

</form>
{% endblock%}